<div class="flex flex-row mx-auto mt-10">
    <div class="w-2/12"></div>
    <div class="w-9/12 leading-10">
        {% if not place.brands %}
        <button></button>
        {% endif %}

        {% for brand in place.brands %}
        <button class="rounded-full text-xs font-bold text-white bg-orange-600 py-2 px-3">{{ brand }}
            <a hx-get="{{ places_brands_path }}/remove?value={{ brand }}" hx-target="#place-brands">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    class="float-right ml-2 size-4">
                    <path
                        d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                </svg>
            </a>
        </button>
        {% endfor %}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-2/12"></div>
    <div class="w-9/12 text-xs flex justify-between items-center">
        <div id="brands-select-options" class="w-1/2 mt-5 text-xs">
            {% include "places/search_brands_result.html" %}
        </div>

        <input type="search" name="name" placeholder="filter brands" value="" autocomplete="off"
            hx-get="{{ places_brands_path }}/search" hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-target="#brands-select-options"
            class="peer px-0 h-full w-2/5 border-b bg-transparent pt-4 pb-1.5 font-sans font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-sky-400 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
    </div>
</div>