{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="mx-auto font-bold">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-4/12 font-normal text-xs">
        <input type="search" name="query" value="{{query}}" placeholder="search secrets" autocomplete="off"
            hx-get="/secrets" hx-target="#secrets-table" hx-trigger="input changed delay:750ms, search"
            class="search-primary px-0 py-2.5 mx-0 h-full w-full border-b bg-transparent font-sans outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-blue-300 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
    </div>
    <div class="w-4/12"></div>
    <div class="w-2/12 flex items-center justify-end text-xs">
        <form class="w-full" action="/secrets/new" method="get">
            <input type="search" name="name" value="" placeholder="new secret name" autocomplete="off"
                hx-trigger="search"
                class="search-primary px-0 py-2.5 mx-0 h-full w-full border-b bg-transparent font-sans outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-blue-300 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
        </form>
    </div>
</div>

<div class="flex flex-col mx-auto mt-0 mb-20 xs:w-full sm:w-full" id="secrets-table">
    {% include "secrets/list_table.html" %}
</div>

<script>
    var passw_blur_count = {{ passw_blur_count }}
    var passw_blur_secs = {{ passw_blur_secs }}

    setInterval(function () {
        const node_list = document.querySelectorAll("[data-secret='1']")

        for (let node of node_list) {
            node.dataset.epoch = parseInt(node.dataset.epoch) + 1

            if (node.dataset.epoch >= passw_blur_count) {
                node.dataset.secret = 0
                node.querySelector("span").dispatchEvent(new Event("encrypt"))
            }
        }
    }, passw_blur_secs * 1000)

</script>

{% endblock %}