{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="mx-auto font-bold">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-3/12 font-normal text-xs">
        <form class="max-w-sm mx-auto text-xs mr-0">
            <select id="org-select"
                class="block px-0 pt-4 pb-1.5 w-full text-xs text-gray-400 bg-transparent border-0 border-b border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer disabled:border-0 disabled:bg-blue-gray-50">
                <option selected>select org</option>
                {% for org_name in org_names %}
                <option value="/secrets/orgs/{{org_name}}">
                    {{ org_name }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="w-2/12"></div>
</div>

<script>
    // list for select change events and redirect to place city view
    const org_select = document.getElementById("org-select")

    org_select.addEventListener("change", function () {
        window.location.href = org_select.value
    })
</script>

{% endblock %}