<div class="mt-5 sm:mx-5 xs:mx-5">
    {% if query_code == 0 %}
    <p class="text-xs font-bold text-black-700">
        {{query_result}}
    </p>
    {% else %}
    <p class="text-xs font-bold text-red-700">
        {{query_result}}
    </p>
    {% endif %}
</div>

<table class="mt-10 mx-5 w-11/12 xs:mr-0 sm:mr-0">
    <thead class="font-normal text-left text-xs leading-6 text-center text-zinc-800">
        <tr class="">
            <th class="p-4">name</th>
            <th class="p-4 ">pass</th>
            <th class="p-4">user</th>
        </tr>
    </thead>
    <tbody>
        {% for secret in secrets_list %}
        {% include "secrets/secret_show.html" %}
        {% endfor %}
    </tbody>
</table>