<tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
    {% if secret_data.passw %}
    {% set data_secret = "1" %}
    {% else %}
    {% set data_secret = "0" %}
    {% endif %}

    <td class="p-4 font-bold min-w-4 max-w-4">
        {{ secret.name }}
    </td>
    <td class="p-4 font-normal text-gray-400 min-w-28 max-w-28" data-secret="{{ data_secret }}" data-epoch=0>
        {% if secret_data.passw %}
        <span hx-get="/secrets/{{secret.id}}/blur" hx-target="closest tr" hx-swap="outerHTML" hx-trigger="encrypt">
            {{ secret_data.passw }}
        </span>
        {% else %}
        <div class="flex justify-center">
            <span style="padding-top: 2px;">
                *******
            </span>
            &nbsp;&nbsp;
            <a hx-get="/secrets/{{secret.id}}/decrypt" hx-target="closest tr" hx-swap="outerHTML" class="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    class="size-4 text-blue-600">
                    <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                    <path fill-rule="evenodd"
                        d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        {% endif %}
    </td>
    <td class="p-4 font-normal user text-gray-400 min-w-20 max-w-20">
        {% if secret_data.user %}
        {{ secret_data.user }}
        {% endif %}
    </td>
</tr>