<div class="flex flex-row mt-5">
    <div class="w-1/12"></div>
    <div class="w-10/12">
        {% if query_code == 0 %}
        <p class="text-xs font-bold text-black-700">
            {{query_result}}
        </p>
        {% else %}
        <p class="text-xs font-bold text-red-700">
            {{query_result}}
        </p>
        {% endif %}
    </div>
</div>

<div class="flex flex-row mt-10">
    <div class="w-1/12"></div>
    <table class="w-10/12">
        <thead class="font-normal text-left text-xs leading-6 text-center text-zinc-800">
            <tr class="">
                <th class="p-4 text-left">name</th>
                <th class="p-4 ">type</th>
                <th class="p-4 ">secrets</th>
                <th class="p-4">user</th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys_list %}
            <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
                <td class="p-4 font-normal text-left">{{ key.name }}</td>
                <td class="p-4 font-normal">{{ key.type }}</td>
                <td class="p-4 font-normal">
                    <a class="font-bold text-blue-700" href="/secrets?query=key:{{key.id}}">
                        {{ keys_map.get(key.id) }}
                    </a>
                </td>
                <td class="p-4 font-normal">{{ key.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>